
	{% extends 'base.html' %}
	{% load staticfiles %}
	{% load bootstrap3 %}
	{% load crispy_forms_tags %}

	{% load i18n %}

	<title>{% block head_title %}Contact{% endblock %}</title>

	{% block content %}
	<div class="row">
		<h1 class="text-align-center">Contact</h1>
		<div class="col-sm-6  col-sm-offset-3">
			<form method="POST" enctype="multipart/form-data" class="lable">
				{% csrf_token %}
				{{ form }}
				{% buttons %}
				<button type="submit" class="btn btn-primary btn-lg" style="background-color: black; border-color: black">Send</button>
				{% endbuttons %}
			</form>
		</div>
	</div>
{% endblock %}  